/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
.slidecontainer {
    width: 100%; 
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
}
.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 100%; 
    height: 25px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7;
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  

  .slider:hover {
    opacity: 1;
  } 
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #000000;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px; 
    background: #000000; 
    cursor: pointer;
  }

h1{
    font-family: 'Bungee Inline', cursive;
}

body{
    background-color: rgb(226, 28, 28);
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}
a:link {
    color: rgb(196, 163, 213);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  table, th, td {
    border: black;
  }