{% extends "layout.html" %}

{% block title %}
    Unwatched Movies
{% endblock %}

{% block main %}
<h1> Unwatched Movies </h1>
<form method="post" action="/about">
<table class="table">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Director</th>
            <th class="text-center">Runtime</th>
            <th class="text-center">Genre</th>
            <th class="text-center">Rating</th>
            <th class="text-center">Release Year</th>
        </tr>
    </thead> 
    <tbody>
        {% for unwatch in unwatched %}
            <tr>
                {% set movie_name = unwatch.movie_name %}
                <td><a href="/about?movie={{ unwatch.movie_name }}" name="{{ movie_name }}">{{ unwatch.movie_name }}</a></td>
                <td>{{ unwatch.director }}</td>
                <td>{{ unwatch.runtime }}</td>
                <td>{{ unwatch.genre }}</td>
                <td>{{ unwatch.rating }}</td>
                <td>{{ unwatch.released_year }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</form>
{% endblock %}