{% extends "layout.html" %}

{% block title %}
    Watched Movies
{% endblock %}

{% block main %}
<h1> Watched Movies </h1>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Director</th>
            <th class="text-center">Runtime</th>
            <th class="text-center">Genre</th>
            <th class="text-center">Rating</th>
            <th class="text-center">Release Year</th>
        </tr>
    </thead> 
    <tbody>
        {% for result in results %}
            <tr>
                <td>{{ result.movie_name }}</td>
                <td>{{ result.director }}</td>
                <td>{{ result.runtime }}</td>
                <td>{{ result.genre }}</td>
                <td>{{ result.rating }}</td>
                <td>{{ result.released_year }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}