{% extends "layout.html" %}

{% block title %}
    Watched Movies
{% endblock %}

{% block main %}
<h1> Watched Movies </h1>
<form method="post" action="/about">
<table class="table">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Director</th>
            <th class="text-center">Runtime</th>
            <th class="text-center">Genre</th>
            <th class="text-center">Rating</th>
            <th class="text-center">Release Year</th>
        </tr>
    </thead> 
    <tbody>
        {% for watch in watched %}
            <tr>
                {% set movie_name = watch.movie_name %}
                <td><a href="/about?movie={{ watch.movie_name }}" name="{{ movie_name }}">{{ watch.movie_name }}</a></td>
                <td>{{ watch.director }}</td>
                <td>{{ watch.runtime }}</td>
                <td>{{ watch.genre }}</td>
                <td>{{ watch.rating }}</td>
                <td>{{ watch.released_year }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</form>
{% endblock %}